
@{
    ViewBag.Title = "关于";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-warp">
    <div class="container">
        <div class="row">
            <!--start main content aera-->
            <div class="col-md-12  main-content">
                <div class="post">

                    <!--start article header aera-->
                    <div class="header">
                        <div class="title">
                            <h2 class="text-center">简介 | About</h2>
                        </div>
                        <div class="time"><br></div>
                        <div style="clear:both;"></div>
                    </div>

                    <!--start main article aera-->
                    <div style="border-bottom: none;" class="article">

                        <a href="" class="thumbnail">
                            <img src="http://blog-10033541.file.myqcloud.com/userpics/1.jpg" alt="">
                        </a>

                        <h4>自我介绍</h4>
                        <p class="para">
                            作者<code class="s">Tony</code>，喜欢技术，琴棋书画样样不精通。
                        </p>

                        <h4>博客介绍</h4>

                        <p class="para">
                            有很多在线的笔记软件和CMS，感觉不是完全适合自己，索性重头设计个博客，以简单明晰的方式写下笔记和心得。
                        </p>


                        <p class="para">
                            此博客基于：
                        </p>

                        <blockquote>
                            <p class="para-quote">
                                PHP7 + CI3 + Smarty3
                            </p>
                            <p class="para-quote">
                                Bootstarp3 响应式布局
                            </p>
                            <p class="para-quote">
                                jQuery + prism.js
                            </p>
                        </blockquote>


                        <h4>联系方式</h4>
                        <p class="para">
                            E-mail：my@lihancong.cn
                        </p>
                        <p class="para">
                            github : https://github.com/lihancong
                        </p>



                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





