
@{
    ViewBag.Title = "时间轴";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-warp">
    <div class="container">
        <div class="row">

            <!--start main content aera-->
            <div class="col-md-12 main-content">

                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/76" class="animation">动态规划 - 丑数</a>
                    </h4>
                    <p>
                        把只包含因子2、3和5的数称作丑数。例如6、8都是丑数，但14不是，因为它包含因子7。 习惯上我们把1当做是第一个丑数。求按从小到大的顺序的第N个丑数。
                    </p>
                    <p class="time">2016.08.16</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/75" class="animation">全排列</a>
                    </h4>
                    <p>
                        1，3，5，9.（第一个）&nbsp;
                        首先保持第一个不变，对3，5，9进行全排列。&nbsp;
                        同样地，我们先保持3不变，对5，9进行全排列。&nbsp;
                        保持5不变，对9对进行...
                    </p>
                    <p class="time">2016.08.13</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/74" class="animation">合并两个排序的链表</a>
                    </h4>
                    <p>
                        输入两个单调递增的链表，输出两个链表合成后的链表，当然我们需要合成后的链表满足单调不减规则。
                    </p>
                    <p class="time">2016.08.11</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/73" class="animation">用 C 扩展 PHP 第一章 最简方法入门</a>
                    </h4>
                    <p>
                        PHP 虽然没有商业公司运作, 也能凭借其易用性, 扩展性征服世界.  但开发到一定阶段, 仅仅靠 PHP 是不够的, 此篇先从基本操作入手, 记录扩展开发过程.
                    </p>
                    <p class="time">2016.08.10</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/71" class="animation">macOS 10.11 通过 Homebrew 安装 LAMP</a>
                    </h4>
                    <p>
                        mac os，unix / linux 开发神器，精准而优雅。
                    </p>
                    <p class="time">2016.06.26</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/70" class="animation">MySQL添加用户并分配权限</a>
                    </h4>
                    <p>
                        对于 MySQL5.7+
                    </p>
                    <p class="time">2016.05.09</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/68" class="animation">PhpStorm 2016 with xdebug 断点调试、单步跟踪</a>
                    </h4>
                    <p>
                        PhpStorm 是最好用的PHP代码编辑器，自带PHP断点调试功能，十分方便。
                        我这里是 Linux 下的 PhpStorm 2016 ，其他版本方法类似。
                    </p>
                    <p class="time">2016.04.26</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/67" class="animation">Laravel 5 原理：服务容器、服务提供者、DI依赖注入</a>
                    </h4>
                    <p>
                        有这样一种容器，它存放的是对象、对象的描述（类、接口）或者是提供对象的回调，通过这种容器，我们得以实现许多高级的功能，其中最常提到的，就是 “解耦” 、“依...
                    </p>
                    <p class="time">2016.04.16</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/66" class="animation">配置Composer1.0及国内镜像，安装任意版本Laravel</a>
                    </h4>
                    <p>
                        Composer ，PHP的软件包管理器，作为”PHP的救星“，使用起来十分方便。又有国内全量镜像的支援，简直完美。
                    </p>
                    <p class="time">2016.04.10</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/64" class="animation">PHP简单好用的分页类</a>
                    </h4>
                    <p>
                        想给此博客弄个分页功能，于是自己写了个分页类，简单又好用。读者可自己扩展功能。
                    </p>
                    <p class="time">2016.04.08</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/65" class="animation">几部治愈系动画电影推荐(图)</a>
                    </h4>
                    <p>
                        看了几部‘唯美’的动画电影（只能这样形容了吧），感触还是比较深的。美好、期盼与现实都在里面，这便是所谓的命运吧。
                    </p>
                    <p class="time">2016.04.08</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/61" class="animation">C++ 链表的反转</a>
                    </h4>
                    <p>
                        无头节点链表的翻转。
                    </p>
                    <p class="time">2016.04.01</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/59" class="animation">纯PHP实现网页Linux终端实践</a>
                    </h4>
                    <p>
                        囿于知识的积累，一直没有实现这个想法。这个功能还是挺有用的，接下来我将详细展开其说明和实现。
                    </p>
                    <p class="time">2016.03.24</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/58" class="animation">解决SSH登录慢的问题</a>
                    </h4>
                    <p>
                        解决 ssh 远程登录时间太长的问题。
                    </p>
                    <p class="time">2016.03.21</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/49" class="animation">CodeIgniter3整合Smarty3</a>
                    </h4>
                    <p>
                        CodeIgniter ，它没有自己的模板引擎，但是CI作为一个比较灵活的框架，自定义模板也是很方便的。
                    </p>
                    <p class="time">2016.02.03</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/48" class="animation">PHP服务器安全性初步总结</a>
                    </h4>
                    <p>
                        安全，是个重要但是容易被忽视的问题。以前写过一个简易的论坛，自以为没问题，但还是被发现有 xss 漏洞和 SQL 注入漏洞。
                    </p>
                    <p class="time">2016.01.28</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/46" class="animation">PHP开启编译缓存，大幅提升性能(附对比测试)</a>
                    </h4>
                    <p>
                        我们知道 java 的运行速度大于 PHP ，因为后者每次运行的时候都要重新编译。而 java则预先把代码编译为字节码，运行的时候直接从字节码开始执行，大幅加速。
                    </p>
                    <p class="time">2016.01.27</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/45" class="animation">Linux下tree命令的简易实现</a>
                    </h4>
                    <p>
                        课设花了一天弄了个tree。一个典型的递归，然后排序输出。这里给出了核心函数。
                    </p>
                    <p class="time">2016.01.26</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/42" class="animation">PHP PDO的常见用法</a>
                    </h4>
                    <p>
                        PDO ，是PHP提供的数据库中间层，提供了十几种数据库的支持。相对于mysqli，增进了安全性。
                    </p>
                    <p class="time">2016.01.24</p>
                </div>
                <div class="timeline-img"></div>
                <div class="triangle-left"></div>
                <div class="post">
                    <h4 class="post-title">
                        <a href="/blog/article/37" class="animation">rsync 快速拷贝文件到远程服务器</a>
                    </h4>
                    <p>
                        以前用 ssh ，慢哭了。这个可以实现秒传目录：
                    </p>
                    <p class="time">2016.01.22</p>
                </div>

            </div>

        </div>
    </div>
</div>

