<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!--头部标示-->
  <!--上传图片的绝对地址-->
  <add key="ImageUploadPath" value="D:/Original/"/>

  <!--微信寻价上传图片文件夹名称-->
  <add key="wx_images" value="wx_imgs"/>

    <!--分享图片文件夹-->
    <add key="share_img" value="share_img"/>
    
    <!--微信个人二维码存放路径-->
  <add key="per_qcode" value="per_qcode"/>
    
    
  <!--上传图片的服务器地址-->

  <add key="ImagePath" value="http://211.155.229.230:8090"/>

  <!--后台地址路局-->
  <add key="ManageLgoinIP" value="http://211.155.229.230:8080"/>

  <!--品牌图片的服务器地址-->
  <add key="BrandImagePath" value="http://211.155.229.230:8003/brand/"/>

  <!--异步通知URL-->
  <add key="notify_url" value="http://www.xinpeiauto.com/notify_url.aspx"/>
  <!--返回地址-->
  <add key="return_url" value="http://www.xinpeiauto.com/return_url.aspx"/>
  <!--卖家账号基本信息-->
  <add key="seller_email" value="2938658739@qq.com"/>
  <add key="partner" value="2088811277625355"/>
  <add key="key" value="etut8dob6esk4xdgpogsdy2elurqrrz5"/>
  
  <!--服务号的配置信息-->
  <add key="token" value="xinpeiauto"/>
  <add key="appid" value="wx433a2187bace451e"/>
  <add key="appsecret" value="81d297369b83d533ef89028a70dbff04"/>
  <add key="encodingaeskey" value="tL1UFL0UJNz2Y68oPKtdvb9tadlQ046NQOQ4gMsc1i5"/>
  <add key="servicechatid" value="gh_bd4d3050b296"/>

  <!--微信支付商户ID-->
  <add key="mchid" value="1295945601"/>
  <!--验证客服为用户下单地址-->

  <add key="validateurl" value="http://www.xinpeiauto.com/chk_user_validate.aspx"/>

  <add key="mapkey" value="SA6BZ-HQJC4-VFDUI-DEA5O-KCEPK-CZFZO"></add>


</appSettings>


